*.suo
*.sdf
*.opensdf
*.vcxproj
*.tlog
pkrim/Debug/**/*
*.vcxproj
*.filters
pkrim/Debug/*
Debug/*
pkrim/Debug/pkrim.vcxprojResolveAssemblyReference.cache
Debug/pkrim.exe
Debug/pkrim.exe
*.tlog
pkrim/Debug/CL.write.1.tlog
*.obj
pkrim/Debug/pkrim.log
*.cache
pkrim/Debug/pkrim.write.1.tlog